@import '../../../common.styles.scss';

.destination-item{
    background-color: $gj-blue;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px 0px 20px;

    img{
        position: absolute;
        top: 330px;
        width: 120px;
        left: -10px;
        opacity: 0.5;
    }

    .side-text{
        top: 140px;
        left: -160px;

        p{
            text-align: right;
            font-size: 100px;
        }
    }

    .destination-image{
        background-color: $gj-grey;
        width: 80%;
        margin-left: auto;
        height: 400px;
        position: relative;
    }

    .content{
        width: 80%;
        margin-left: auto;
        text-align: left;
    }
}

@media only screen and (min-width: 768px){
    .destination-item{
        width: calc(100% / 2 - 10px);
    }
}

@media only screen and (min-width: 1366px){
    .destination-item{
        width: calc(100% / 3 - 20px);
        
        img{
            top: 370px;
            left: -20px;
            width: 120px;
        }

        .side-text{
            top: 190px;
            left: -220px;

            p{
                font-size: 120px;
            }
        }

        .destination-image{
            width: 85%;
            height: 450px;
        }

        .content{
            width: 85%;
        }
    }
}

@media only screen and (min-width: 1920px){
    .destination-item{

        .side-text{
            top: 260px;
            left: -290px;
        }
    }
}