@import '../../../common.styles.scss';

.social-links{
    position: fixed;
    bottom: 60px;
    right: 20px;

    a{
        display: block;
        text-align: center;

        img{
            margin: 15px auto;
            display: block;
            height: 30px;
        }
    }
}