@import '../../../common.styles.scss';

.legal-footer{
    width: 100%;
    background-color: $gj-blue;
    padding: 10px;
    box-sizing: border-box;
    
    p{
        color: $gj-white;
        font-size: 10px;
        margin: 0px;
        font-weight: 500;

        a{
            color: $gj-white;
        }
    }
}

@media only screen and (min-width: 768px){
    .legal-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;

        p{
            text-align: left;

            &:last-of-type{
                text-align: right;
            }
        }
    }
}

@media only screen and (min-width: 1366px){
    .legal-footer{
        padding: 15px 120px;

        p{
            font-size: 14px;
        }
    }
}